@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

.homepage {
  background-image: linear-gradient(
    to left top,
    #2b00f8,
    #0072ff,
    #0098ff,
    #00b3c5,
    #00c799,
    #5fc76c,
    #97c23c,
    #cdb700,
    #ff9524,
    #ff6c5e,
    #ff4fa1,
    #fb5fe7
  );
  height: 92.5vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.notfound {
  height: 80vh;
  width: 100%;
}
.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}
.card-head {
  display: flex;
  align-items: center;
}
.user-profile-container {
  display: flex;
  justify-content: center;
}
.pro-pic {
  max-width: 350px;
  width: 100%;
  max-height: 300px;
  border-radius: 250px;
}
.dropnav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
